.chat-container {
  width: auto; /* or 100% if you want it to take the full width of its parent */
  max-width: 1024px; /* adjust this value as needed */
  height: 500px;
  border: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
}

.chat-container, .input-container {
  width: 1024px; /* adjust this value as needed */
  max-width: 100%; /* this will make sure it doesn't overflow its parent */
}

.chat-container .user {
  text-align: right;
  margin-left: 15%;
  color: white;
  margin-bottom: 10px;
  background-color: rgb(90, 90, 207);
  padding: 10px;
  border-radius: 20px; /* adjust this value as needed */  
}

.chat-container .assistant {
  text-align: left;
  margin-right: 15%;
  color: white;
  color: #f0f0f0; /* light gray */
  margin-bottom: 10px;
  background-color: rgb(145, 180, 145); 
  padding: 10px;
  border-radius: 20px; /* adjust this value as needed */  
}

.chat-container .bot {
  text-align: left;
  color: green;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.input-container input {
  flex-grow: 1;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.input-container button {
  padding: 5px 10px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 5px;
}