
@import "open-props/style";

body{
    line-height: var(--font-lineheight-1);
    font-size: var(--font-size-fluid-1);
    font-weight: var(--font-weight-4);
    font-family: var(--font-sans);
    background-color: var(--gray-2);
}
